/* All p-tags */
p {
    font-family: 'Bangers', cursive;
}

h1 {
    font-family: 'Alfa Slab One', cursive;
    color: orangered;
}

h3 {
    font-family: 'Special Elite', cursive;
    color: crimson;
}

h4 {
    font-family: 'Press Start 2P', cursive;
    color: purple;
}

.thicky {
    font-weight: bold;
    color: gold;
}

.bigsize {
    font-size: 24px;
    color: lime;
}

.linespacer {
    line-height: 50px;
    color: darkblue;
}